@font-face {
    font-family: 'MinecraftHeader';
    src: url('../fonts/minecraft/Minecraft-Tenv2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MinecraftBody';
    src: url('../fonts/minecraft/Minecraft-Seven_v2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Apply fonts to elements */
h1, h2, h3, h4, h5, h6 {
    font-family: 'MinecraftHeader', sans-serif;
}